
body {
    margin: 0;
    font-family: sans-serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f8f8f8;
    border-bottom: 1px solid #ddd;
}

.logo img {
    height: 40px; 
}

.nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; 
}

.nav a {
    text-decoration: none;
    color: #555;
    font-weight: bold;
    transition: color 0.3s ease;
}

.a:hover {
    color: #000;
}

.carrinho img {
    height: 30px; 
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: url('imagens/bolsa-wallpaper.jpg');
    object-fit: cover;
    height: 500px;
    border: #2b2b2b solid 1px;
}

.hero-text {
    padding: 20px;
    text-align: left;
    width: 400px;
    margin-left: 100px;
} 


.hero-text h1 {
    font-size: 50px;
    margin-bottom: 10px;
    width: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.hero-text p {
    margin-bottom: 20px;
    color: #666;
    font-family: 'Courier New', Courier, monospace;
}

.hero-text button {
    background: green;
    color: white;
    padding: 10px 20px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
}

.products {
  padding: 50px;
  background-color: #f9f9f9;
  text-align: center;
  img{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 56px;
  justify-content: center;  
}

.product-item {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
  padding: 20px;
  text-align: center;
  width: 250px; 
  font-family: 'Courier New', Courier, monospace;
} 

footer {
  background-color: #fff8f8;
  padding: 20px;
  text-align: center;
  border-top: 1px solid #e9e9e9;
}

.social-media {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 20px;
  img{
    width: 24px;
    height: 24px;
  }
}

.footer-links {
  display: flex;
  color: #038f26;
  text-decoration: none;
  gap: 10px;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-bottom {
  color: #6b6b6b;
  font-size: 14px;
}